@use 'globals';
@use 'variables';

/*NAVABR*/
#navbar-section {
  grid-row: 1;
  grid-column-start: 1;
  grid-column-end: 5;
  height: 6em;
  z-index: 10;
  overflow: hidden;
  display: flex;
  font-size: variables.$sixteen-px;
}

header {
  justify-content: space-between;
  align-items: center;

  .logo {
    margin-left: 1.2em;
    background-color: mediumslateblue;
    color: white;
  }

  nav {
    height: inherit;
    display: flex;
    ul {
      height: 4em;
      display: inherit;
      list-style: none;
      padding-left: 0;
      align-items: center;
      margin-right:8px;

      li:hover {
        background-color: variables.$black;
      }

      li {
        /* ASEGURATE DE QUE SEAN PILL BUTTONS*/
        background-color: variables.$gray;
        border-radius: 25px;
        text-align: center;
        text-decoration: none;
        margin: 0px 8px;
        padding: 8px 16px;
        width: 6em;
        a {
          text-decoration: none;
          color: white;
        }
      }
    }
  }
}
