
/// En este archivo se guardan los colores.
/// Todos sujetos a cambios.

///Color pallete

$black: #222831; //background
$gray:#393E46; // secundario
$blue:#0092CA; // detalles
$white: #EEEEEE; // texto 

